h2 {
  color: #007bff;
  margin-bottom: 20px;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  margin: 5px;
  max-width: 150px;
  height: auto;
  border: 1px solid #ddd;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #5a6268;
}
