h2 {
  color: #007bff;
  margin-bottom: 20px;
}

div {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color: #218838;
}
